@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-main: rgb(194, 53, 38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar 样式 */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-main) #f0f0f0;
}

/* Webkit 浏览器 (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-main);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 36, 26);
}

.container {
  width: 100%;
  @media (width <= 64rem) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
}
